body {
    min-height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    background-color: #EFEFEF;
  
  }

  .top-line{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;

  }
   .top-line ul{
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    gap: 30px;
   }
   
   .second-line{
    
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    padding: 0px 200px;
    background-color: #FFFFFF;
   }
   .second-line-content{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  
   }

.logo{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
   }
.logo img{
    width: 90px;
    height: 90px;
}
 .logo h1{
    font-size: 36px;
    color: #F13C6E;
   }
  
   .search {
    position: relative;
    width: 250px;
    height: 40px;
  }
  
  .search input {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #EFEFEF;
    padding-left: 40px; 
  }
  
  .search img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
  .contact{
    display: flex;
    gap: 40px;
    align-items: center;

  }
  .contact p{
    font-size: 16px;
  }
  .contact button{
    width: 170px;
    height: 40px;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    background: transparent; 
  }
  hr.line {
    width: calc(100% + 400px); 
    margin-left: -200px;
    border: none;
    border-top: 1px solid #EFEFEF;
    margin-top: 0;
    margin-bottom: 0;
  }
.service ul{
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 16px;
   }

   .sale{
    display: flex;
    position: relative;
    background-color: #F13C6E;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
    /**/
    overflow: hidden;
   }

   .elipse1 {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
  }
  
  .elipse2 {
    position: absolute;
    right: 180px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .chair {
    position: absolute;
    right: 180px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .text-armchair {
    z-index: 3;
    max-width: 350px;
    color: #EFEFEF;
  }
  
   .text-armchair h1{
    font-size: 48px;
    color: #EFEFEF;
   }
   .text-armchair p{
    font-size: 14px;
    color: #EFEFEF;
    margin: 50px 0;
   }
   .text-armchair button{
    width: 170px;
    height: 40px;
   background: transparent;
   border-radius: 40px;
   border: 2px solid #EFEFEF;
   color: #EFEFEF;
   }
   .goods{
    padding: 80px 200px ;
   }
   .armChairsGreen{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 30px;
   padding: 30px 0px;
   }
   .armchair1, .armchair2, .armchair3, .armchair4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    background-color: #ffffff;
   }
   .armchair1 button, .armchair2 button, .armchair3 button, .armchair4 button{
   width: 130px;
   height: 35px;
   border: none;
   background-color: #F13C6E;
   color: #FFFFFF;
   border-radius: 30px;
   }
   .armchair1 h3, .armchair2 h3, .armchair3 h3, .armchair4 h3{
        font-size: 21px;
        margin: 10px;
    }
    .subscribe {
      display: flex;
      padding: 0 200px 100px;
      flex-direction: row;
      align-items: stretch; 
      gap: 30px;
  }
  
  .subscribe1, .subscribe2 {
      display: flex;
      flex: 1 1 50%;
      background-color: #F13C6E;
      padding: 40px;
      flex-direction: row;
      color: #EFEFEF;
      box-sizing: border-box;
      gap: 30px;
      align-items: center;
      justify-content: space-between;
      min-height: 212px;
  }
    .bonus input{
        width: 225px;
        height: 35px;
        color: #C4C4C4;
        border: none;
        border-radius: 30px;
        padding: 0 30px;
        box-sizing: border-box;
        margin-top: 25px;
    }
    .bonus button{
        width: 170px;
        height: 35px;
        border: 2px solid #EFEFEF;
        color: #EFEFEF;
        background-color: transparent;
        border-radius: 40px;
        margin-top: 25px;
    }
    .brands {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        border-collapse: collapse; 
        padding: 0px 200px;
      }
      
      .brands img {
        background-color: #FFFFFF;
        width: 100%;
        height: auto;
        padding: 65px;
        border-right: 1px solid #EFEFEF;
        border-bottom: 1px solid #EFEFEF;
        box-sizing: border-box;
      }
      .brands img:nth-child(4n) {
        border-right: none;
      }
      
      .brands img:nth-last-child(-n+4) {
        border-bottom: none;
      }
    
    
.container {
  max-width: 1920px; 
  padding: 0 200px;
  margin: 0 auto;
  box-sizing: border-box;
}

footer {
  background-color: #FFFFFF;
  font-family: sans-serif;
}

.footer-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px 0;
  background-color: #FFFFFF;
}

.footer-category {
  width: 290px;
}

.footer-category p {
  font-size: 12px;
  color: #828282;
}

.footer-category hr {
  border: 1px solid #EFEFEF;
  width: 100%;
  margin: 10px 0;
}


footer hr {
  border: 1px solid #EFEFEF;
  margin: 0;
}

.footer-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0;
  padding: 20px 0;
}

.footer-line p {
  font-size: 12px;
  margin: 0;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
}

.contact button {
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;
}


.footer-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
  padding: 20px 0;
  font-size: 13px;
  color: #828282;
  gap: 10px;
  padding: 25px 200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.footer-info p {
  margin: 0;
}