body {
    min-height: 100vh;
    width: 1920px;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  
  }
  .top-line{
    display: flex;
    background-color: #EFEFEF;
    height: 50px;
    align-items: center;
    justify-content: center;

  }
   .top-line ul{
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    gap: 30px;
   }
   .second-line{
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    padding: 0px 200px;
    
   }
   .second-line-content{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
  justify-content: space-between;
  padding: 20px 0;
   }

.logo{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
   }
.logo img{
    width: 90px;
    height: 90px;
}
 .logo h1{
    font-size: 36px;
    color: #F13C6E;
   }
  
   .search {
    position: relative;
    width: 250px;
    height: 40px;
  }
  
  .search input {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #EFEFEF;
    padding-left: 40px; 
  }
  
  .search img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
  .contact{
    display: flex;
    gap: 40px;
    align-items: center;

  }
  .contact p{
    font-size: 16px;
  }
  .contact button{
    width: 170px;
    height: 40px;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    background: transparent; 
  }
hr{
    width: 100%;
    border: none; 
    border-top: 1px solid #EFEFEF;
}
.service ul{
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    gap: 40px;
    font-size: 16px;
   }
   .sale{
    display: flex;
    position: relative;
    background-color: #F13C6E;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
    overflow: hidden;
   }

   .elipse1 {
    position: absolute;
    right: 130px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
  }
  
  .elipse2 {
    position: absolute;
    right: 340px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .chair {
    position: absolute;
    right: 350px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .text-armchair {
    z-index: 3;
    max-width: 350px;
    color: #EFEFEF;
  }
  
   .text-armchair h1{
    font-size: 48px;
    color: #EFEFEF;
   }
   .text-armchair p{
    font-size: 14px;
    color: #EFEFEF;
    margin: 50px 0;
   }
   .text-armchair button{
    width: 170px;
    height: 40px;
   background: transparent;
   border-radius: 40px;
   border: 2px solid #EFEFEF;
   color: #EFEFEF;
   }
   