body {
    min-height: 100vh;
    width: 1920px;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin-right:550px;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  
  }
  .top-line{
    display: flex;
    background-color: #EFEFEF;
    height: 50px;
    align-items: center;
    justify-content: center;

  }
   .top-line ul{
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    gap: 30px;
   }
   .second-line{
    display: flex;
  justify-content: space-between;
   }